.f-row {
    display: flex;
    flex-flow: row nowrap;
}

.raised {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

.baseline {
    align-items: baseline;
}

.nav-white {
    background: #FAFAFA;
}

.navbar-brand {
    font-size: 1.6rem;
}

.title {
    padding-left: 1rem;
}

.title.row>span {
    color: #616161;
    padding-right: 3rem;
    font-size: 1.4rem;
}

.bg-container {
    min-height: 20vh;
    background: #FFD600;
}

.epl-table th {
    color: #BDBDBD;
}

.epl-table td {
    vertical-align: middle;
}

.epl-table tbody tr:hover {
    background: #ECEFF1;
}

.epl-table tbody>tr:nth-child(5) {
    border-top: 2px solid #546E7A;
    border-bottom: 2px solid #546E7A;
}

.epl-table tbody>tr:nth-last-child(3) {
    border-top: 2px solid #546E7A;
    border-bottom: 2px solid #546E7A;
}

.height-20 {
  height: 20vh;
}

@media (max-width: 576px) {
    .hide-on-mobile {
        display: none;
    }
    img {
        width: 1.4rem;
        height: 1.4rem;
    }
}

@media (min-width:576px) and (max-width: 992px) {
    .hide-on-tablet {
        display: none;
    }
}
