<div class="row align-items-end bg-container">
  <div class="col">
    <div class="row justify-content-between align-items-baseline title">
      <h1><%- data.leagueCaption -%></h1>
      <span>week <%- data.matchday -%></span>
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col col-lg-10" id="table-container">
    <%- include('../partials/table', {'teams': data.standing}) -%>
  </div>
</div>
