<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('../partials/head') -%>
    </head>
    <body>
      <header>
        <%- include('../partials/nav') -%>
      </header>
      <div class="container">
        <%- include('epl-table', {'data': data}) -%>
      </div>
    </body>
    <footer>
      <%- include('../partials/footer') -%>
    </footer>
</html>
